{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "store/style.css" %}">
</head>
<body>
    <h1 id="main"> I Am Dinesh</h1>
    <img src="{% static 'd3.png' %}"alt="network error" style="float: left", width="120" height="120"><br>
        <img src="{% static 'd4.png' %}"alt="network error" style="float: left", width="120" height="120"><br>

</body>
</html>