{% extends "store/main.html" %}

{% load static %}


  {% block body %}
<nav style="color: #000000 ">
 
    <img src="{% static 'd3.png' %}"alt="network error" style="float: left", width="120" height="120"><br>
    <h4 style="color: orange; font-size: 24px; text-align: left;"> <br>Plain shirt<br>  Rs.700 </h4>
    <img src="{% static 'd4.png' %}"alt="network error" style="float: right",width="120" height="120"><br>
    <h4 style="color: blue; font-size: 24px; text-align: right;"> Deniem jacket  Rs.2399 </h4>
    <img src="{% static 'd5.png' %}"alt="network error" style="float: left",width="120" height="120"><br>
    <h4 style="color: green; font-size: 24px; text-align: left;"> Cotton Trouser  Rs.899</h4>
    <img src="{% static 'd6.png' %}"alt="network error" style="float: right",width="120" height="120"><br>
    <h4 style="color: pink; font-size: 24px; text-align: right;"> Shandow  Rs.199 </h4>
    <img src="{% static 'd7.png' %}"alt="network error"style="float: left",width="120" height="120"><br>
    <h4 style="color: voilet; font-size: 24px; text-align: left;"> Checque shirt  Rs.999 </h4>
    <img src="{% static 'd8.png' %}"alt="network error"style="float: right",width="120" height="120"> <br>
    <h4 style="color: voilet; font-size: 24px; text-align: right;"> box pant  Rs.1499 </h4>
  {% endblock body %}